html {
    height: 100%;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: rgb(28, 28, 28);
    line-height: 1.5;
    position: relative;
    height: 100%;
    width: 70vw;
    background-color: rgb(245, 245, 245);
    margin: 0rem auto;
}

h1,
h2,
h3,
h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(28, 28, 28);
}

ul li {
    margin: .7rem;
}

table {
    text-align: left;
    padding: 1rem;
}

th,
td {
    width: 10%;
}

.header {
    /* background-color: rgba(123, 119, 223, 0.139); */
    width: 70%;
    margin: 0.5rem auto;
    padding: 1rem;
    border-bottom: 2px solid grey;


    & h1 {
        text-align: center;
        font-size: 3rem;

    }

    .intro-message {
        background-color: rgba(165, 168, 170, 0.50);
        border-radius: 1rem;
        max-width: 50%;
        margin: 0rem auto;

        & h2 {
            text-align: center;
            width: 70%;
            margin: 1.9rem auto;
            font-weight: 500;
        }

        & span {
            display: block;
            margin: 0.5rem auto;
            width: max-content;
            padding: 0.5rem;
            text-align: center;
            border-radius: 0.3rem;
        }

        & ul {
            display: block;
            width: 20rem;
            margin: 0rem auto;
            padding: 0.9rem;
            list-style: none;

            & li {
                text-align: center;
            }
        }
    }
}

.main {
    position: relative;
    margin: 0 auto;
    padding-right: 2.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 50%;

    /* background-color: rgba(16, 218, 124, 0.296); */
}


ul code {
    padding: 0.3rem;
    background-color: rgb(246, 246, 246);
    border-radius: 4px;
}

.feature-sections {
    background-color: #1616c313;
    padding: 2rem;
    margin: 1rem;
}

.accent-color {

    & a,
    a:visited {
        color: #0000ff;
    }
}


.list {

    display: flex;
    list-style: none;
    justify-content: start;

    & li {
        margin: 1rem;
    }
}

/* Dynamic Viewport Styling */

/* .dynamic-viewport {} */
/* .viewport-example{} */

/* Container Query */
/* .container-queries {} */

.container-example {
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(100, 148, 237, 0.234);
    width: 70%;
    container-type: inline-size;
}

.product-one,
.product-two {
    background-color: rgb(255, 255, 255);
    padding: 0rem 1rem;
    border-radius: 1rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
        width: 250px;
        margin-top: 1rem;
        border-radius: 10%;
    }

    & h4 {
        color: #0000ff;
        font-weight: 300;
        background-color: rgba(128, 128, 128, 0.3);
        padding: 0.5rem;
        border-radius: 1rem;
    }

    & p {
        background-color: #0000ff0e;
        padding: 1rem;
        text-align: center;
        border-radius: 1rem;
    }

    & button {
        margin: 1rem;
        padding: 0.5rem;
        width: 5rem;
        border-radius: 1rem;
        border: none;
        font-size: 18px;
    }

    & button:hover {
        background-color: gray;
    }
}

@container (min-width: 500px) {

    .product-one p {
        width: 500px;
        background-color: #0000ff29;
        color: #fff;
    }

    .product-two button {
        width: 300px;
    }
}










/* Demo */
.customize-color {
    padding: 0 1rem 1rem;
}

.customize-color div {
    padding: 1rem;
}

.demo-container {
    padding: 1rem;
}

.default-container {
    background-color: #0000ff;

}

table {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;

}


tbody {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

th span {
    font-weight: 400;
    padding: 0 1rem;
}

th,
td {
    padding: .5rem;
}

tr {
    border-top: 1px solid rgb(200, 200, 200);
}

.custom {
    accent-color: #0000ff;
}

/* code */
/* .code-example {} */

.name-bg {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: .5rem;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 0px;
}

.code-example p span {
    padding: .5rem;
}

pre.language-css {
    margin: 0;
}

/* Side bar */
.side-bar {
    position: fixed;
    top: 500px;
    left: 100px;
    background-color: rgb(80, 76, 188);

}

.side-bar h2 {
    font-size: 1.2rem;

}

.side-bar-container {

    background-color: white;
    box-shadow: 2px 2px 2px gray;
    border-radius: 8px;
    padding: 1rem;
    margin: 1.2rem;

    /* position: sticky; */
    top: 5rem;

}

.side-bar ul {
    padding: 0;
}

.side-bar li {
    font-size: 1rem;
}

footer {

    background-color: rgba(98, 105, 105, 0.165);
    margin: 2rem auto 0;
    padding: 0.3rem;
    position: relative;
    bottom: 1rem;
    width: 50%;

    & h2 {
        text-align: center;
    }

    & ul {
        list-style: none;
        margin: 0rem auto;
        text-align: center;
        line-height: 0.5;
    }
}


/* Demo Page styles */

/* body pages */
.sheet {
    height: 100vh;
    text-align: center;
    /* display: flex;
    justify-content: center; */
}

.sheet .viewport {
    height: none;
}

/* accent colour */
.form {
    /* background-color: rgb(168, 211, 249); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    width: 500px;
    height: 500px;
    margin: 15rem auto;
    padding: 2rem;
    border-radius: 10px;
}

/* viewport */
.container {
    background-color: rgba(144, 238, 144, 0.3);
    margin: 1rem;
    padding: 1rem;
}

/* container Query */

.container.container-demo {
  max-width: 50%;
  
}
.containerQ {
background-color: #cdcde0;


}

@media{}

@container{}